<div class="mt-5 w-50  d-flex align-items-center justify-content-start" style="padding-left: 3em;">
    <button type="button" class="btn btn-info" (click)="addNewOwner(content)">Dodaj vlasnika</button>
</div>
<ng-template #content let-modal>
    <div class="modal-header bg-dark text-light">
      <h4 class="modal-title" id="modal-basic-title">Novi Vlasnik</h4>
      <button type="button" class="close" aria-label="Close" style="color: white;" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <add-new-owner-popup (on-add-owner)="refreshOwnerList()"></add-new-owner-popup>
    </div>
  </ng-template>
<div class="card-group mt-5">
    <div class="card-deck card-columns col-auto mb-5" style="width: 25em" *ngFor="let owner of allOwners">
        <div class="container-fluid">
            <div class="card border-white" >
                <div class="card hover-effect">
                    <div class="card-header bg-white text-header">
                        <i class="fas fa-user-check text-info mr-2"></i>{{owner.name}} {{owner.lastName}}
                      </div>
                    <div class="card-body  bg-white">
                        <p class="card-text">Ime: <span class="text-secondary"> {{owner.name}}</span></p>
                        <p class="card-text">Prezime: <span class="text-secondary">{{owner.lastName}}</span> </p>
                        <p class="card-text">Grad: <span class="text-secondary"> {{owner.city}}</span></p>
                    </div>
                    <div class="card-footer text-info">
                        <button type="button" class="btn btn-outline-info" (click)="showMore(owner.id)">Prikaži više</button>
                        <button type="button" class="btn btn-danger ml-2" (click)="deleteOwner(owner.id)">Izbriši</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>