/* You can add global styles to this file, and also import other style files */


.navbar-brand{
    width: 150px !important;
    margin-right: 1.5em;
}

.hover-effect:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 6px 16px 2px rgba(124, 124, 124, 0.644);
    -moz-box-shadow: 0 6px 16px 2px rgb(124, 124, 124, 0.644);
    box-shadow:0 6px 16px 2px rgb(124, 124, 124, 0.644);
    transition: .3s;
}

.m-height{
    min-height: 100vh;
}

.loader-class{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fdfdfd;
    z-index: 2;
}

.reverse-spinner {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    border: 4px solid transparent;
    border-top-color: blue;
    border-left-color: blue;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }

  .mw-100{
      min-width: 100px !important;
  }

.ab-pos{
    position: absolute;
    bottom: 8em;
}

  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


  
  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }